/*
  Document: app_style.css
  Author: Val Cinbat
  Description: External style sheet for the application.
*/

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    text-align: center;
    background-color: #fff;
    color: #333;
    font-size: 20px;
    line-height: 1;
    background-color: #fff;
}


p {
    margin-top: 60px;
    margin-bottom: 35px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.4em;
}

hr {
    margin-bottom: 3px;
    background-color: #bbb;
    color: #bbb;
    height: 1px;
    border: none;
    clear: both;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #ea3d4e 0%, #b64447 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 150px;
}


#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    max-width: 2500px;
    padding: 0 1rem;
}

#footer {
    font-size: 80%;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #eeeeee;
    margin-top: 2rem;
    padding: 2rem 0;
}

#push {
    height: 4.8em;
    clear: both;
}

/* Banner header */
#banner {
    height: 180px;
    padding:20px;
    text-align: center;
    margin-top: -30px;
}

#left1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin-top:-60px;

}

#left {
    margin-top: 50px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);

}

#banner #right {
    float: left;
    width: 40%;
    text-align: center;
}

/* Main header of all the pages */
#mainHeader {
    font-family: 'Helvetica Neue', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 0.5rem;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}


span.rcd-numbers {
    color: #999;
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
}

.grid-container {
    margin: 2rem auto;
    width: 100%;
    max-width: 960px;
    border: 1px solid #eee;
    background-color: #fff;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
}

.item {
    padding: 1rem;
    background-color: #fff;
    border: 10px solid #eee;
    text-align: center;
}

.item:hover {
    border: 1px solid #ff6600;
}

.item > p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #333;
    height: 200px;
    overflow: hidden;
    margin: 1rem auto;
}

/* styles for media items */
.item > p img {
    width: 165px;
    height: 220px;
    border: none;
}

.item > p a {
    text-decoration: none;
}

.item > p span {
    width: 500px;
    overflow: auto;
    display: inline-block;
    padding-left: 200px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 3;
}

/* styles for media detail */
table#detail {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #bbb;
    margin: 10px 0 5px;
}

#detail img {
    width: 220px;
}

#detail td {
    position: relative;
    vertical-align: top;
    padding: 2px 12px 15px 0;
    max-height: 120px;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

#detail p {
    padding: 3px;
}

#detail #buttonGroup,
#detail #confirmMsg {
    position: absolute;
    bottom: 2px;
}

#detail #confirmMsg {
    color: red;
}

#detail .gameDescription {
    max-height: 120px;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}




/* styles for the search bar */
#searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 30px;
    padding: 10px;
    max-width: 500px;
    margin: 1px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 50px;
    margin-top: 50px;
}

#searchbar input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    color: #333;
    border: none;
    background: transparent;
    transition: all 0.3s ease;
}

#searchbar input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 0 3px #ddd;
}

#searchbar input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease;
    margin-left: 120px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

#searchbar input[type="submit"]:hover {
    transform: scale(1.1);
}

#searchbar i {
    color: #aaa;
    font-size: 1.5em;
    transition: all 0.3s ease;
}

#searchbar i:hover {
    color: #333;
}


/* styles for the suggestion div block and the spans in it */
#suggestionDiv {
    position: absolute;
    top: 30%; /* move suggestion div block to the center of the page vertically */
    left: 50%; /* move suggestion div block to the center of the page horizontally */
    transform: translate(-50%, -50%); /* center suggestion div block using the left and top properties */
    padding: 0;
    margin: 0;
    right: -1px;
    background-color: #eeeeee;
    font-size: 0.85em;
    width: 250px; /* sets the width of the suggestion div block to 200 pixels */
}

#suggestionDiv span {
    display: block;
    padding: 4px 10px;
    cursor: default;
    min-width: 178px;
    white-space: nowrap;
}

#suggestionDiv span:hover {
    background-color: #F5DEB3;
}

/* styles for sorting select list */
.sorting {
    display: inline-block;
    float: right;
}

.sorting select {
    font-size: 0.8em;
    color: #666;
}

/* styles for pagination buttons */
.pagination {
    float: right;
    margin: 0;
}

.pagination select {
    color: #666;
}

.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 30px;
}

.pagination li {
    display: inline-block;
    margin-left: 5px;
}

.pagination li a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #999;
    text-align: center;
    font-size: 0.7em;
    padding: 1px 6px;
    border-radius: 2px;
    min-width: 12px;
    height: 14px;
    background-color: #fff;
    color: #333;
    transition: all 0.2s ease-in-out;
}

.pagination li a.active {
    background-color: #eee;
}

.pagination li a.enabled {
    font-weight: bold;
}

.pagination li a.disabled {
    pointer-events: none;
    color: #bbb;
}

.pagination li a:hover,
.pagination li a:focus {
    color: #ff6600;
    border-color: #ff6600;
}

.new-media form {
    /*width: 800px; border: 1px solid #bbb; margin-top: 10px; padding: 10px;*/
}

.new-media input[type="text"],
.new-media textarea {
    border: 1px solid #bbb;
    color: #333;
    border-radius: 2px;
    font-size: 13px;
    padding: 8px;
    margin-top: 8px;
}

.new-media input:required:invalid:focus,
.new-media textarea:required:invalid:focus {
    box-shadow: 0 0 0 2px rgba(255, 102, 0, 0.5);
    outline: none;
}

.new-media input:required:valid:focus,
.new-media textarea:required:valid:focus {
    box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.5);
    outline: none;
}
#logo {
    width: 170px;
    border: none;
    margin-right: 1100px;
    margin-top:-60px;
}

